{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Classic Driver: Friends Map Test</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/style.css" %}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
	</script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
	</script>
	<script src="{% static "js/MapWidget.js" %}"></script>
	{%block header%}
	{%endblock%}
</head>
<body>
	<div id="page" class="container">
		<div class="row">
			<div class="col-md-2">
			<div id="sidebar">
				{% block sidebar %}
			<ul>
				<!-- <li><a href="/users/all">All Users</a></li>
				<li><a href="/users/create">Register</a></li>
				<li><a href="/users/login">Login</a></li> -->
			</ul>
			{% endblock %}
			</div>
			
		</div>

		<div class="col-md-10" >
		<div id="content">
			{% block container%}
			{% endblock %}
		</div>
			

		</div>
		</div>
		
	</div>
</body>
{% block footer%}
{% endblock %}
</html>