{% extends "base.html" %}
{% load staticfiles %}
<!-- {% load static %} -->

{% block sidebar %}	
{% endblock %}

{% block container %}

<H3>Username:</H3>
<p>{{ profile.username }}</p>
<p>{{ profile.first_name }}</p>
<p>{{ profile.last_name }}</p>


<H3>Location:</H3>

{% if profile.latitude %}
<p>Lat:</p>
	{{profile.latitude}}
<p>Long:</p>
	{{profile.longitude}}
{% else %}
<p>Location Not Set Yet!</p>
{% endif %}



{% endblock %}