{% extends 'base.html' %}

{%block header%}
	{{form.media}}
{%endblock%}

{% block container %}
	<h2>Register</h2>
	<form action = "/users/register/" method="POST">{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value="Register"></input>
	</form>
{% endblock %}