{% extends "base.html" %}
{% load staticfiles %}
{%block header%}
	{{form.media}}
{%endblock%}

{% block container %}

<h2>User List</h2>

{%if users %}
{% for user in users %}
<ul>

	<li> 
		{{ user.username }}
		<br>
		{{user.first_name}}
		<br>
		{{user.last_name}}

	</li>
	
</ul>
{% endfor %}

{%else%}
<p>NO USERS YET</p>
{%endif%}

{% endblock %}
